@font-face {
    font-family: 'zabras';
    src: url('./fonts/zabars.ttf') format('truetype');
}

*{
    font-family: 'zabras', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/5_background/bg-desert.png');
}

.content {
    /* height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.canvas-container {
    position: relative;
    width: 720px;
    height: 480px;
}

canvas {
    /* display: block; */
    background-color: black;
    border-radius: 16px;
  
}

.d-none {
    display: none;
}

h1 {
    color: black;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

.start-screen-container {
    position: absolute;
    top: 0;
    width: 720px;
    height: 480px;
}

.start-screen-img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.btn {
    background-color: #FF9600;
    border: 2px solid #A0220A;
    cursor: pointer;
}

.start-btn {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 32px;
    width: 125px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 100ms ease-in-out;
}

.game-over-screen-container{
    position: absolute;
    top: 0;
    z-index: 3;
    background-image: url(./img/5_background/second_half_background.png);
    border-radius: 32px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

.img-container {
    height: 100%;
    display: flex;
    align-items: center;
    border: #A0220A 2px solid;
}


.game-over-screen-img {
    width: 100%;
    height: 50%;
    
}

.end-btn {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 32px;
    width: 280px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 100ms ease-in-out;
}

.mini-buttons{
    position: absolute;
    top: 15px;
    right: 30px;
    gap: 8px;
}

.mini-buttons img {
    width: 30px;
    height: 30px;
}

.mini-buttons img:hover {
    scale: 1.2;
    cursor: pointer;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    max-width: 100vw; 
    max-height: 100vh;
    aspect-ratio: 420/720;
    object-fit: contain;
}

.force-fullscreen {
    width: 100% !important;
    height: 100% !important;
}